@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}

@layer utilities {
  
  .fc, .frcc {
    @apply flex justify-center items-center
  }

  .-fc, .-frcc {
    @apply flex flex-row-reverse justify-center items-center
  }

  .frbc {
    @apply flex justify-between items-center
  }

  .frsc {
    @apply flex justify-start items-center
  }

  .frc_ {
    @apply flex justify-center
  }

  .frs_ {
    @apply flex justify-start
  }

  .fr_c {
    @apply flex items-center
  }

  .-fr_c {
    @apply flex flex-row-reverse items-center
  }

  .fccc {
    @apply flex flex-col justify-center items-center
  }

  .fc_c {
    @apply flex flex-col items-center
  }

  .fc_s {
    @apply flex flex-col items-start
  }

}

.bg__logo {
  background-image: linear-gradient(-160deg, rgb(251, 88, 59), rgb(252, 187, 66));
}

.mode-spin {
  transform: rotate(360deg);
}


/** Handling The Nav Search In Big Screens */

.NavSearch:has(input:focus) + .AppLogo, .NavSearch:has(input:focus) span {
  display: none;
}

.NavSearch:has(input:focus) input {
  padding-left: 0.75rem !important;
}

.NavSearch:has(input:focus) ~ .ArrowIcon {
  display: block;
}

.NavSearch:has(.ArrowIcon:focus) ~ .AppLogo {
  display: block;
}

/** Handling ScrollBar of LeftSideBar and RightSideBar */
:is(.LeftSideBar, .RightSideBar)::-webkit-scrollbar {
  width: 6px;
}

:is(.LeftSideBar, .RightSideBar)::-webkit-scrollbar-track {
  background: transparent;
}

:is(.LeftSideBar, .RightSideBar)::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88, 0.2);
  border-radius: 20px;
}

:is(.LeftSideBar, .RightSideBar)::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 88, 88, 0.4);
}


/** Handling Responsive in Main Section and Right Side Bar */
@media (1100px < width) {
  .MainSection {
    width: 54%;
    margin-left: 0rem;
  }

  .RightSideBar {
    width: 23%;
  }
}

@media (1024px < width < 1101px) {
  .MainSection {
    width: 53%;
    margin-right: 1.2rem;
  }

  .RightSideBar {
    width: 25%;
  }
}

@media (900px < width < 1025px) {
  .MainSection {
    width: 60%;
    margin-left: 5vw;
  }

  .RightSideBar {
    width: 30%;
    margin-left: 2.5rem !important;
  }
}

@media (767px < width < 901px) {
  .MainSection {
    width: 60%;
    margin-left: 1rem;
  }

  .RightSideBar {
    width: 35%;
    margin-left: 2.5rem !important;
  }
}

@media (width < 768px) {
  .MainSection {
    width: 500px;
  }
}